@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #111;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo-box {
  position: relative;
  top: 30px;
  left: 100px;
}

.logo {
  height: 35px;
}

.nav-items {
  position: relative;
  top: 20px;
  right: 230px;
}

.items {
  display: flex;
}

.items li {
  list-style-type: none;
  margin: 0px 35px;
  font-size: 13px;
  font-weight: 600;
  color: #fff;
  transition: all 0.5s ease-in-out;
}
.items li:hover {
  color: #ea3141;
}
.bar {
  display: none;
}

.hero {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.img-box {
  position: relative;
  left: 80px;
  height: 660px;
}

.person-img {
  position: relative;
  height: 660px;
}

.information {
  position: relative;
  left: 60px;
}

.information h2 {
  color: rgb(249, 75, 75);
  font-size: 22.5px;
}

.info-person-img {
  display: none;
}

.information h1 {
  color: #ffffff;
  font-size: 66px;
}

.information p {
  position: relative;
  top: 10px;
  color: #ffffff;
  font-size: 20px;
}

.btn {
  position: relative;
  top: 50px;
  padding: 18px 38px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  background-color: #ff3343;
  border: 1.5px solid #111;
  transition: all 0.5s ease-in-out;
}
.btn:hover {
  border: 1.5px solid #ff3343;
  color: #ff3343;
  background-color: #111;
}
/* Person information */

.person-info {
  position: relative;
  top: 10px;
  height: 1090px;
  width: 840px;
  background-color: #1a1919;
}

.person-info-container {
  display: flex;
  flex-direction: column;
}

.person-info1 {
  position: absolute;
  left: 220px;
  display: flex;
}

.box-info-icon {
  font-size: 60px;
}

.para,
.heading {
  color: #fff;
}

.heading {
  position: relative;
  margin: 30px 0px;
  font-size: 32px;
  font-weight: 700;
}

.para {
  position: relative;
  margin: 30px 0px;
  font-size: 25px;
}

.know-more {
  font-size: 20px;
  font-weight: 700;
}

.colorWhite {
  font-weight: 500;
  color: #fff;
}

.icon2 {
  color: #fff;
}

.box-info-content {
  position: relative;
  top: 60px;
  left: 60px;
}

.box-info {
  position: relative;
  top: 120px;
  background-color: #1e1e1e;
  height: 400px;
  width: 380px;
  margin: 0px 15px;
}

.box-info2 {
  background-color: #e12535;
}

/*    */

.person-info2 {
  position: absolute;
  display: flex;
  top: 640px;
  left: 280px;
}

.exeprience {
  position: relative;
  left: 70px;
  display: flex;
}

.color1 {
  color: #ea3141;
}

.twelve {
  font-size: 120px;
  font-weight: 900;
}

.person-info2-text {
  font-size: 30px;
  font-weight: 800;
  color: #fff;
}

.person-info-experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
}

.sametext {
  font-size: 55px;
  font-weight: 700;
}

.samepara {
  font-size: 20px;
  color: #fff;
}

.experience-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #1e1e1e;
  width: 380px;
  height: 150px;
}

.experience-box1,
.experience-box3 {
  position: relative;
  bottom: 10px;
}

.experience-box2,
.experience-box4 {
  position: relative;
  top: 10px;
}

.experience-box3,
.experience-box4 {
  position: relative;
  left: 20px;
}

/* project section */

.project {
  position: relative;
  top: 60px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-head {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.project-heading {
  font-size: 34px;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;

  color: #fff;
}
.project-text {
  position: relative;
  top: 16px;
  color: #fff;
}
.project-btn {
  color: #fff;
  font-size: 18px;
  background-color: #ff3343;
  padding: 15px 40px;
  transition: all 0.5s ease-in-out;
}
.project-btn:hover {
  border: 1.5px solid #ff3343;
  color: #ff3343;
  background-color: #111;
}
.project-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 60px;
  width: 100%;
}
.project-section1 {
  display: flex;
}
.web-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1e1e1e;
  height: 480px;
  width: 560px;
  transition: all 0.2s ease-in-out;
}
.web-img-box:hover {
  height: 400px;
  width: 500px;
}
.web-img-box1 {
  position: relative;
  right: 22px;
}
.web-img-box2 {
  position: relative;
  left: 22px;
}
.web-img-box3 {
  position: relative;
  right: 22px;
}
.web-img-box4 {
  position: relative;
  left: 22px;
}
.art-img {
  height: 280px;
}
.burger-img {
  height: 280px;
}
.home-img {
  width: 500px;
  height: 278px;
}
.music-img {
  height: 280px;
}
.web-name {
  position: relative;
  margin-top: 20px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: 900;
}
.web-link p {
  position: relative;
  margin: 15px 0px;
}
a {
  text-decoration: none;
  color: #ff3343;
  font-size: 20px;
  font-weight: 700;
}
.web-name-left,
.link-left {
  position: relative;
  right: 20px;
}

.web-name-right,
.link-right {
  position: relative;
  left: 22px;
}
.project-section2 {
  position: relative;
  margin-top: 20px;
}

/* contact-section */

.contact-section {
  position: relative;
  top: 160px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 1250px;
  height: 370px;
  background-color: #1e1e1e;
}
.contact-heading {
  font-size: 50px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}
.contact-text {
  position: relative;
  top: 20px;
  font-size: 17px;
  font-weight: 300;
  color: #fff;
}
.contact-texts {
  position: relative;
  right: 40px;
  bottom: 20px;
}
.contact-btn {
  position: relative;
  right: 50px;
  color: #fff;
  font-size: 18px;
  background-color: #ff3343;
  padding: 15px 40px;
  transition: all 0.5s ease-in-out;
}
.contact-btn:hover {
  border: 1.5px solid #ff3343;
  color: #ff3343;
  background-color: #111;
}
/* bottom navbar */
.bottom-navbar {
  position: relative;
  top: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bottom-navbar ul {
  display: flex;
}
.bottom-navbar ul li {
  font-size: 13px;
  font-weight: 600;
  color: #fff;
  list-style: none;
  margin: 0px 20px;
  transition: all 0.5s ease-in-out;
}

.bottom-navbar ul li:hover {
  color: #ff3343;
  cursor: pointer;
}
/* footer */

footer {
  position: relative;
  top: 360px;
  height: 50px;
  background-color: #1e1e1e;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 0px;
}
.logo2 {
  position: absolute;
  left: 210px;
  height: 38px;
}
footer ul {
  display: flex;
}
footer ul li {
  margin: 0px 20px;
  color: #fff;
  list-style-type: none;
  font-size: 28px;
}
footer ul li:hover {
  color: #ff3343;
  cursor: pointer;
}

/* deminsion 1280 */

@media screen and (max-width: 1280px) {
  .nav-items {
    position: relative;
    right: 80px;
  }

  .person-img {
    position: relative;
    height: 550px;
    right: 100px;
  }

  .information {
    position: relative;
    left: -80px;
  }

  .information h2 {
    font-size: 20px;
  }

  .information h1 {
    font-size: 60px;
  }

  .information p {
    font-size: 18px;
  }

  .btn {
    padding: 18px 38px;
    font-size: 16px;
    font-weight: 600;
  }

  .person-info {
    position: relative;
    top: -100px;
    height: 880px;
    width: 600px;
    background-color: #1a1919;
  }

  .person-info1 {
    left: 190px;
  }

  .box-info-icon {
    font-size: 50px;
  }

  .heading {
    margin: 25px 0px;
    font-size: 28px;
  }

  .para {
    margin: 25px 0px;
    font-size: 23px;
  }

  .know-more {
    font-size: 18px;
  }

  .box-info-content {
    top: 20px;
    left: 20px;
  }

  .box-info {
    height: 300px;
    width: 300px;
  }

  /*    */

  .person-info2 {
    top: 540px;
    left: 215px;
  }

  .exeprience {
    position: relative;
    left: 30px;
  }

  .twelve {
    font-size: 90px;
    font-weight: 900;
  }

  .person-info2-text {
    font-size: 24px;
    font-weight: 800;
    color: #fff;
  }

  .person-info-experience {
    width: 300px;
  }

  .sametext {
    font-size: 50px;
    font-weight: 700;
  }

  .samepara {
    font-size: 18px;
    color: #fff;
  }

  .experience-box {
    width: 300px;
    height: 100px;
  }
}

/* deminsion 1024 */

@media screen and (max-width: 1024px) {
  .nav-items {
    display: none;
  }

  .bar {
    position: relative;
    height: 35px;
    right: 40px;
    top: 30px;
    display: block;
  }

  .person-img {
    position: relative;
    height: 480px;
    right: 100px;
  }

  .information {
    position: relative;
    left: -80px;
    bottom: 50px;
  }

  .information h2 {
    color: rgb(249, 75, 75);
    font-size: 18px;
  }

  .information h1 {
    font-size: 40px;
  }

  .information p {
    font-size: 16px;
  }

  .btn {
    padding: 18px 38px;
    font-size: 16px;
    font-weight: 600;
  }

  .person-info {
    height: 830px;
    top: -170px;
    width: 100vw;
  }

  .person-info1 {
    position: relative;
    width: 950px;
    top: -20px;
    left: 40px;
  }

  .box-info-icon {
    font-size: 40px;
  }

  .heading {
    margin: 20px 0px;
    font-size: 25px;
  }

  .para {
    margin: 20px 0px;
    font-size: 20px;
  }

  .know-more {
    font-size: 16px;
  }

  .box-info-content {
    top: 22px;
    left: 26px;
  }

  .box-info {
    height: 280px;
    width: 280px;
  }

  /*    */

  .person-info2 {
    position: relative;
    width: 950px;
    top: 240px;
    left: 40px;
  }

  .exeprience {
    position: relative;
    left: 30px;
  }

  .twelve {
    font-size: 90px;
    font-weight: 900;
  }

  .person-info2-text {
    font-size: 24px;
    font-weight: 800;
    color: #fff;
  }

  .person-info-experience {
    width: 300px;
  }

  .sametext {
    font-size: 50px;
    font-weight: 700;
  }

  .samepara {
    font-size: 18px;
    color: #fff;
  }

  .experience-box {
    width: 280px;
    height: 100px;
  }

  /*  */

  .project {
    position: relative;
    top: -60px;
  }

  .project-heading {
    font-size: 34px;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;

    color: #fff;
  }
  .project-text {
  }
  .project-texts {
    position: relative;
    left: -70px;
  }
  .project-btn {
    position: relative;
    right: -75px;
    font-size: 18px;
  }
  .project-section {
    top: 60px;
    width: 100%;
  }
  .project-section1 {
    display: flex;
  }
  .web-img-box {
    height: 420px;
    width: 480px;
  }
  .web-img-box1,
  .web-img-box3 {
    position: relative;
    right: 5px;
  }
  .web-img-box2,
  .web-img-box4 {
    position: relative;
    left: 5px;
  }
  .art-img {
    height: 250px;
  }
  .burger-img {
    height: 250px;
  }
  .home-img {
    width: 440px;
    height: 245px;
  }
  .music-img {
    height: 250px;
  }
  .web-name {
    margin-top: 10px;
    font-size: 22px;
  }
  .web-link p {
    position: relative;
    bottom: 10px;
    margin: 12px 0px;
  }
  a {
    font-size: 18px;
  }
  .web-name-left,
  .link-left,
  .web-name-right,
  .link-right {
    position: relative;
    left: 10px;
  }

  .project-section2 {
    position: relative;
    margin-top: 10px;
  }

  /* contact-section */

  .contact-section {
    position: relative;
    top: 100px;
    width: 95vw;
  }
  .contact-heading {
    font-size: 40px;
  }
  .contact-text {
    position: relative;
    top: 20px;
    font-size: 17px;
  }
  .contact-texts {
    position: relative;
    right: 10px;
    bottom: 20px;
  }
  .contact-btn {
    position: relative;
    right: 50px;
    font-size: 18px;
    padding: 15px 40px;
  }
  /* bottom navbar */
  .bottom-navbar {
    position: relative;
    top: 140px;
  }

  /* footer */

  footer {
    top: 170px;
    height: 40px;
  }
  .logo2 {
    position: absolute;
    left: 180px;
    height: 35px;
  }
  footer ul {
    display: flex;
  }
  footer ul li {
    font-size: 25px;
  }
}

/* deminsion 768px */

@media screen and (max-width: 768px) {
  .logo-box {
    position: relative;
    left: 40px;
  }

  .hero {
    position: relative;
    top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .img-box,
  .person-img {
    display: none;
  }

  .information {
    width: 100vw;
    position: relative;
    left: 0px;
    top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .information h2 {
    color: rgb(249, 75, 75);
    font-size: 18px;
  }

  .info-person-img {
    display: block;
    height: 400px;
  }

  .information h1 {
    font-size: 40px;
  }

  .information p {
    text-align: center;
    font-size: 16px;
  }

  .btn {
    padding: 16px 36px;
    font-size: 14px;
    font-weight: 600;
  }

  body {
    background-color: #111;
  }

  .person-info {
    height: 730px;
    top: 200px;
  }

  .person-info1 {
    position: relative;
    width: 690px;
    top: -20px;
    left: 40px;
  }

  .box-info-icon {
    font-size: 25px;
  }

  .heading {
    margin: 16px 0px;
    font-size: 18px;
  }

  .para {
    margin: 16px 0px;
    font-size: 14px;
  }

  .know-more {
    font-size: 15px;
  }

  .box-info-content {
    top: 18px;
    left: 26px;
  }

  .box-info {
    height: 200px;
    width: 200px;
  }

  /*    */

  .person-info2 {
    position: relative;
    display: flex;
    align-items: center;
    width: 690px;
    top: 170px;
    left: 40px;
  }

  .exeprience {
    position: relative;
    top: 50px;
    width: 590px;
  }

  .twelve {
    font-size: 70px;
  }

  .person-info2-text {
    font-size: 20px;
  }

  .person-info-experience {
    position: relative;
    top: 40px;
    width: 270px;
  }

  .sametext {
    font-size: 40px;
    font-weight: 700;
  }

  .samepara {
    font-size: 16px;
    color: #fff;
  }

  .experience-box {
    width: 200px;
    height: 100px;
  }

  /*  */

  .project {
    position: relative;
    top: 240px;
  }

  .project-heading {
    font-size: 28px;
  }
  .project-text {
    position: relative;
  }
  .project-texts {
    position: relative;
    left: -10px;
  }
  .project-btn {
    position: relative;
    right: -10px;
    font-size: 16px;
  }
  .project-section {
    top: 60px;
    width: 100%;
  }
  .project-section1 {
    display: flex;
  }
  .web-img-box {
    height: 320px;
    width: 350px;
  }
  .web-img-box1,
  .web-img-box3 {
    position: relative;
    right: 5px;
  }
  .web-img-box2,
  .web-img-box4 {
    position: relative;
    left: 5px;
  }
  .art-img {
    height: 180px;
  }
  .burger-img {
    height: 180px;
  }
  .home-img {
    width: 315px;
    height: 180px;
  }
  .music-img {
    height: 180px;
  }
  .web-name {
    margin-top: 10px;
    font-size: 22px;
  }
  .web-link p {
    position: relative;
    bottom: 10px;
    margin: 12px 0px;
  }
  a {
    font-size: 18px;
  }
  .web-name-left,
  .link-left,
  .web-name-right,
  .link-right {
    position: relative;
    left: 10px;
  }

  .project-section2 {
    position: relative;
    margin-top: 10px;
  }

  /* contact-section */

  .contact-section {
    position: relative;
    top: 100px;
    height: 300px;
  }
  .contact-heading {
    font-size: 35px;
  }
  .contact-text {
    position: relative;
    top: 20px;
    font-size: 16px;
  }
  .contact-texts {
    position: relative;
    right: -20px;
    bottom: 20px;
  }
  .contact-btn {
    position: relative;
    bottom: 25px;
    right: 50px;
    font-size: 16px;
    padding: 15px 40px;
  }
  /* bottom navbar */
  .bottom-navbar {
    position: relative;
    top: 380px;
  }

  /* footer */

  footer {
    top: 400px;
    height: 30px;
  }
  .logo2 {
    position: absolute;
    left: 120px;
    height: 32px;
  }

  footer ul li {
    font-size: 20px;
  }
}

/*  deminsion 540px */

@media screen and (max-width: 540px) {
  body {
    background-color: #111;
  }

  .person-info {
    height: 1230px;
    top: 200px;
  }

  .person-info1 {
    display: flex;
    flex-direction: column;
    width: 210px;

    top: -80px;
    left: 110px;
  }

  .box-info-icon {
    font-size: 30px;
  }

  .heading {
    margin: 16px 0px;
    font-size: 18px;
  }

  .para {
    margin: 16px 0px;
    font-size: 14px;
  }

  .know-more {
    font-size: 15px;
  }

  .box-info-content {
    top: 18px;
    left: 26px;
  }

  .box-info {
    height: 250px;
    width: 300px;
  }

  /*    */

  .person-info2 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    top: 30px;
    left: 175px;
  }

  .exeprience {
    position: relative;
    top: 100px;
    left: -75px;
    width: 390px;
  }

  .twelve {
    font-size: 70px;
  }

  .person-info2-text {
    font-size: 20px;
  }

  .person-info-experience {
    position: relative;
    top: 40px;
    left: -50px;
    width: 270px;
  }

  .sametext {
    font-size: 40px;
    font-weight: 700;
  }

  .samepara {
    font-size: 16px;
    color: #fff;
  }

  .experience-box {
    width: 200px;
    height: 100px;
  }
  /*  */

  .project {
    position: relative;
    top: 240px;
  }
  .project-head {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .project-heading {
    text-align: center;
    font-size: 25px;
  }

  .project-texts {
    position: relative;
    left: 0px;
  }
  .project-btn {
    position: relative;
    top: 40px;
    right: 0px;
  }
  .project-section {
    top: 60px;
  }
  .project-section1 {
    display: flex;
    flex-direction: column;
  }

  .web-img-box {
    height: 320px;
    width: 350px;
  }
  .web-img-box1,
  .web-img-box3 {
    position: relative;
    right: 0px;
  }
  .web-img-box2,
  .web-img-box4 {
    position: relative;
    left: 0px;
  }
  .art-img {
    height: 180px;
  }
  .burger-img {
    height: 180px;
  }
  .home-img {
    width: 315px;
    height: 180px;
  }
  .music-img {
    height: 180px;
  }
  .web-name {
    margin-top: 10px;
    font-size: 20px;
  }
  .web-link p {
    position: relative;
    bottom: 10px;
    margin: 12px 0px;
  }
  a {
    font-size: 16px;
  }
  .web-name-left,
  .link-left,
  .web-name-right,
  .link-right {
    position: relative;
    left: 0px;
  }

  .project-section2 {
    position: relative;
    margin-top: 10px;
  }

  /* contact-section */

  .contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 100px;
    height: 300px;
  }
  .contact-heading {
    text-align: center;
    font-size: 32px;
  }
  .contact-text {
    position: relative;
    text-align: center;
    top: 20px;
    font-size: 15px;
  }
  .contact-texts {
    position: relative;
    right: 0px;
    bottom: 0px;
  }
  .contact-btn {
    position: relative;
    bottom: 0px;
    right: 0px;
  }
  /* bottom navbar */
  .bottom-navbar {
    position: relative;
    top: 380px;
  }

  /* footer */

  .logo2 {
    position: absolute;
    left: 50px;
    height: 32px;
  }

  footer ul li {
    position: relative;
    left: 150px;
  }
}

/*dimension 360px  */
@media screen and (max-width: 360px) {
  .info-person-img {
    height: 350px;
  }
  .person-info {
    height: 1230px;
    top: 200px;
  }

  .person-info1 {
    display: flex;
    flex-direction: column;
    width: 210px;
    top: -80px;
    left: 10px;
  }

  .box-info-icon {
    font-size: 30px;
  }

  .heading {
    margin: 16px 0px;
    font-size: 18px;
  }

  .para {
    margin: 16px 0px;
    font-size: 14px;
  }

  .know-more {
    font-size: 15px;
  }

  .box-info-content {
    top: 18px;
    left: 16px;
  }

  .box-info {
    height: 250px;
    width: 300px;
  }

  /*    */

  .person-info2 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    top: 30px;
    left: 8px;
  }

  .exeprience {
    position: relative;
    top: 80px;
    left: 0px;
    width: 200px;
  }

  .twelve {
    font-size: 70px;
  }

  .person-info2-text {
    font-size: 20px;
  }

  .person-info-experience {
    position: relative;
    top: 30px;
    left: 75px;
    width: 200px;
  }

  .sametext {
    font-size: 40px;
    font-weight: 700;
  }

  .samepara {
    font-size: 16px;
    color: #fff;
  }

  .experience-box {
    width: 160px;
    height: 100px;
  }
  /*  */
  .project {
    position: relative;
    top: 240px;
  }
  .project-head {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .project-heading {
    text-align: center;
    font-size: 25px;
  }

  .project-texts {
    position: relative;
    left: 0px;
  }
  .project-btn {
    position: relative;
    top: 40px;
    right: 0px;
  }
  .project-section {
    top: 60px;
  }
  .project-section1 {
    display: flex;
    flex-direction: column;
  }

  .web-img-box {
    height: 320px;
    width: 350px;
  }
  .web-img-box1,
  .web-img-box3 {
    position: relative;
    right: 0px;
  }
  .web-img-box2,
  .web-img-box4 {
    position: relative;
    left: 0px;
  }
  .art-img {
    height: 180px;
  }
  .burger-img {
    height: 180px;
  }
  .home-img {
    width: 315px;
    height: 180px;
  }
  .music-img {
    height: 180px;
  }
  .web-name {
    margin-top: 10px;
    font-size: 20px;
  }
  .web-link p {
    position: relative;
    bottom: 10px;
    margin: 12px 0px;
  }
  a {
    font-size: 16px;
  }
  .web-name-left,
  .link-left,
  .web-name-right,
  .link-right {
    position: relative;
    left: 0px;
  }

  .project-section2 {
    position: relative;
    margin-top: 10px;
  }

  /* contact-section */

  .contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 100px;
    height: 300px;
  }
  .contact-heading {
    text-align: center;
    font-size: 32px;
  }
  .contact-text {
    position: relative;
    text-align: center;
    top: 20px;
    font-size: 15px;
  }
  .contact-texts {
    position: relative;
    right: 0px;
    bottom: 0px;
  }
  .contact-btn {
    position: relative;
    bottom: 0px;
    right: 0px;
  }
  /* bottom navbar */
  .bottom-navbar {
    position: relative;
    top: 380px;
  }
  .bottom-navbar ul li {
    font-size: 10px;
  }
  /* footer */
  footer ul li {
    position: relative;
    left: 60px;
  }
}
